In [2]:
import pandas as pd

In [3]:
time_sentences = [ "Monday: The doctors appointment is at 2:45pm.",
                 "Tuesday: The dentist's appointment is at 11:30am.",
                 "Wednesday: At 7:00pm, there is a basketball game!",
                 "Thursday: Be back home by 11:15pm at the latest.",
                 "Friday: Take the train at 08:10am, arrive at 9:00am."]

In [4]:
df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0      Monday: The doctors appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30am.
2  Wednesday: At 7:00pm, there is a basketball game!
3   Thursday: Be back home by 11:15pm at the latest.
4  Friday: Take the train at 08:10am, arrive at 9...

In [5]:
#get the length
df['text'].str.len()

0    45
1    49
2    49
3    48
4    52
Name: text, dtype: int64

In [6]:
#count words
df['text'].str.split().str.len()

0    7
1    7
2    8
3    9
4    9
Name: text, dtype: int64

In [7]:
#row contains 'appointment'

df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [8]:
#count numrical data
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    7
Name: text, dtype: int64

In [9]:
#find the numrical data for all rows
df['text'].str.findall(r'\d')

0                [2, 4, 5]
1             [1, 1, 3, 0]
2                [7, 0, 0]
3             [1, 1, 1, 5]
4    [0, 8, 1, 0, 9, 0, 0]
Name: text, dtype: object

In [10]:
#get the proper time format
df['text'].str.findall(r'(\d?\d):(\d\d)')

0              [(2, 45)]
1             [(11, 30)]
2              [(7, 00)]
3             [(11, 15)]
4    [(08, 10), (9, 00)]
Name: text, dtype: object

In [11]:
#replace examples
df['text'].str.replace(r'\w+day\b', '???')

0           ???: The doctors appointment is at 2:45pm.
1        ???: The dentist's appointment is at 11:30am.
2          ???: At 7:00pm, there is a basketball game!
3          ???: Be back home by 11:15pm at the latest.
4    ???: Take the train at 08:10am, arrive at 9:00am.
Name: text, dtype: object

In [12]:
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0           Mon: The doctors appointment is at 2:45pm.
1        Tue: The dentist's appointment is at 11:30am.
2          Wed: At 7:00pm, there is a basketball game!
3          Thu: Be back home by 11:15pm at the latest.
4    Fri: Take the train at 08:10am, arrive at 9:00am.
Name: text, dtype: object

In [13]:
#extract time data
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [14]:
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

               0   1   2   3
  match
0 0       2:45pm   2  45  pm
1 0      11:30am  11  30  am
2 0       7:00pm   7  00  pm
3 0      11:15pm  11  15  pm
4 0      08:10am  08  10  am
  1       9:00am   9  00  am

In [15]:
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d)?(?P<period>[ap]m))')

            time hour minute period
  match
0 0       2:45pm    2     45     pm
1 0      11:30am   11     30     am
2 0       7:00pm    7     00     pm
3 0      11:15pm   11     15     pm
4 0      08:10am   08     10     am
  1       9:00am    9     00     am

In [16]:
df = pd.read_fwf("robo_copy_log.log", columns=['text'], header=None)
df

                                                    0
0   ----------------------------------------------...
1    ROBOCOPY     ::     Robust File Copy for Windows
2   ----------------------------------------------...
3          Started : Monday, March 4, 2019 4:20:43 PM
4                    Source : C:\harsha\delete_files\
5                      Dest : C:\harsha\robocopy_log\
6                                         Files : *.*
7   Options : *.* /DCOPY:DA /COPY:DAT /R:1000000 /...
8   ----------------------------------------------...
9                        2    C:\harsha\delete_files\
10  *EXTRA File              28672        .HC-port...
11  *EXTRA File              21773        Automati...
12      *EXTRA File              33472        getmail
13  *EXTRA File               1601        get_serv...
14  *EXTRA File              15431        HC-portd...
15  *EXTRA File               2120        new_scri...
16  *EXTRA File             24.3 m        opencv-2...
17  *EXTRA File              13346        pyimages...
18  *EXTRA File                832        select_a...
19      *EXTRA File                112        test.py
20      *EXTRA File                 17        test.sh
21  *EXTRA File              3.9 m        Uptimean...
22  *EXTRA File              3.9 g        VirtualM...
23  100%        New File                   0      ...
24  100%        New File                   0      ...
25  ----------------------------------------------...
26  Total    Copied   Skipped  Mismatch    FAILED ...
27  Dirs :         1         0         1         0...
28  Files :         2         2         0         ...
29  Bytes :         0         0         0         ...
30  Times :   0:00:00   0:00:00                   ...
31           Ended : Monday, March 4, 2019 4:20:43 PM

In [66]:
df[0].str.extract(r'(<?^Source .*)')

                                   0
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4   Source : C:\harsha\delete_files\
5                                NaN
6                                NaN
7                                NaN
8                                NaN
9                                NaN
10                               NaN
11                               NaN
12                               NaN
13                               NaN
14                               NaN
15                               NaN
16                               NaN
17                               NaN
18                               NaN
19                               NaN
20                               NaN
21                               NaN
22                               NaN
23                               NaN
24                               NaN
25                               NaN
26                               NaN
27                               NaN
28                               NaN
29                               NaN
30                               NaN
31                               NaN

In [67]:
df[0].str.extractall(r'(<?^Source .*)')

                                        0
  match
4 0      Source : C:\harsha\delete_files\

In [38]:
df[0].str.extractall(r'(^Dest .*)')

                                      0
  match
5 0      Dest : C:\harsha\robocopy_log\

In [59]:
a = df[0].str.extractall(r'(^Dirs :.*)')
df[0].str.extractall(r'(^Dirs :.*)')

                                                          0
   match
27 0      Dirs :         1         0         1         0...

In [64]:
a[0].str.split()[0]

['Dirs', ':', '1', '0', '1', '0', '0', '0']

In [65]:
df[0].str.extractall(r'(?P<dir>^Dirs :.*)')

                                                        dir
   match
27 0      Dirs :         1         0         1         0...

In [68]:
#Get Dirs, files, bytes from robocopy log files and convert to csv file

In [1]:
#Using re
import re

In [76]:
file_name="robo_copy_log.log"


PATTERN_ERRORS = r'(?P<error>^ERROR)\s+:(?P<error_strings>.+)'
PATTERN_DIR_NAME = r'(?i)^\s+(?P<type>Source|Dest)\s+:(?P<dir>.+)'

PATTERN_METRICS = r'(?i)^\s+(?P<type>dirs|files|bytes)\s+:\s+ (?P<total>\d{1,})\s+(?P<copied>\d{1,})\s+ (?P<skipped>\d{1,})\s+(?P<mismatch>\d{1,})\s+ (?P<failed>\d{1,})\s+(?P<extras>\d{1,})'


with open(file_name, 'r', encoding='utf-8' ) as rdr:
    for line in rdr:
        
        match = re.search(PATTERN_DIR_NAME, line )
        if match:
            dir_names =  match.group('dir')
            
            print("Source and Destination dir", dir_names.split())
            
        match = re.search(PATTERN_METRICS, line)

        if match:
            print(match.group('total')  )
            print(match.group('type'))
            print(match.group('total'))
            print(match.group('copied'))
            print(match.group('skipped'))
            print(match.group('failed') )

Source and Destination dir ['C:\\harsha\\delete_files\\']
Source and Destination dir ['C:\\harsha\\robocopy_log\\']
1
Dirs
1
0
1
0
2
Files
2
2
0
0
0
Bytes
0
0
0
0

In [80]:
regex_str=r'a\tb'
print(regex_str)

a\tb

In [81]:
normal_str='a\tb'
print(normal_str)

a	b

In [92]:
#match
pattern=r'\d+'
text="1234"

match = re.match(pattern,text)
print(match)

if match:
    print("Matched index starts with", match.start())
    print(match.group() )

<re.Match object; span=(0, 4), match='1234'>
Matched index starts with 0
1234

In [95]:
text="abcd1234"

match = re.match(pattern,text)
print(match)

if not match:
    print("not matched")

None
not matched

In [96]:
#search
text="abcd12412dff"

match = re.search(pattern,text)

if match:
    print(match.group() )

12412

In [97]:
text="abcsvs"

match = re.search(pattern,text)

if not match:
    print("number not found")

number not found

In [99]:
positiveTest = [ "12345", "456", "0821" ]
negativeTest = [ 'ABCD', 'A123', '12AB', ' 123 ', '321 ', ' 111 ', '123 456', '123\n456', '1,000' ]

pattern=r"^\d+$" 

for text in positiveTest:
    match = re.search(pattern, text )
    
    if match:
        print("[+] Matched. text:{} AND Index:{} Length: {}".format( text, match.start(), len(match.group(0))))

[+] Matched. text:12345 AND Index:0 Length: 5
[+] Matched. text:456 AND Index:0 Length: 3
[+] Matched. text:0821 AND Index:0 Length: 4

In [100]:
# text has spaces
for text in negativeTest:
    match = re.search(pattern, text)
    
    if not match:
        print("[-] Not matched. text:{}".format(text))

[-] Not matched. text:ABCD
[-] Not matched. text:A123
[-] Not matched. text:12AB
[-] Not matched. text: 123
[-] Not matched. text:321
[-] Not matched. text: 111
[-] Not matched. text:123 456
[-] Not matched. text:123
456
[-] Not matched. text:1,000

**Find all matches**:<br>
re.findall: find all matches in a single call.<br>
re.finditer: Iterate through matches one by one.

In [101]:
pattern=r"\b\d{6}\b" # boundary or spaces
text="Karnataka postal code are 560001, 560002, 560003, "

match = re.findall(pattern, text )
print(match)

['560001', '560002', '560003']

In [102]:
# Usage: total matches in the text or wait for total matches;
match = re.finditer(pattern, text )
print(match)
list(match)

<callable_iterator object at 0x000001DEE79FB8D0>

[<re.Match object; span=(26, 32), match='560001'>,
 <re.Match object; span=(34, 40), match='560002'>,
 <re.Match object; span=(42, 48), match='560003'>]

**Groups**: match sub-text.<br>
group: Retrive value by name or number.<br>
groupdict: Retrive values as dict<br>

In [103]:
#extract year month and day
pattern=r"(?P<year>\d{4})(?P<month>\d{2})(?P<day>\d{2})(?P<hour>\d{2})?"

In [104]:
text="Timestamp=20190102"

match_iter = re.finditer(pattern,text)

for match in match_iter:
    print("Match. Text:{} Index:{} Length:{}".format( match.group(), match.start(), match.group() ))
    print()
    print('Access group by name')
    print(' Year:{}'.format(match.group('year')))
    print(' Month:{}'.format(match.group('month')))
    print(' Day:{}'.format(match.group('day')))
    print()
    print('Access all named groups as a dictionary')
    print('{}'.format(match.groupdict() ))

Match. Text:20190102 Index:10 Length:20190102

Access group by name
 Year:2019
 Month:01
 Day:02

Access all named groups as a dictionary
{'year': '2019', 'month': '01', 'day': '02', 'hour': None}

**find and Replace**<br>
re.sub: Replace a text that matches find pattern.

In [105]:
pattern = r"(?P<value>\d+(,\d{3})*(\.\d{2})?)\s+dollar(s)?"

replacement_pattern=r'*** USD \g<value>**'

text = \
"""
widgets Unit cost: 12,000.56 dollars
Taxes: 234.00 dollars
Total: 12,234.56 dollars
"""

In [106]:
new_text = re.sub(pattern, replacement_pattern , text)
print("New text:{}".format(new_text))

New text:
widgets Unit cost: *** USD 12,000.56**
Taxes: *** USD 234.00**
Total: *** USD 12,234.56**

In [107]:
def celsius_to_fahrenheit(match):
    degree_sign= u'\N{DEGREE SIGN}'
    degCelsius = float(match.group("celsius"))
    degF = 32.0 + (degCelsius * 9.0 / 5.0 )
    return '{}{}F'.format(degF,degree_sign)

In [110]:
degree_sign= u'\N{DEGREE SIGN}'

pattern = r"(?P<celsius>\d+)\u00B0C"
text="Today's temperature is 49{}C".format(degree_sign)
text

"Today's temperature is 49°C"

In [109]:
new_text = re.sub(pattern, celsius_to_fahrenheit, text )

new_text

"Today's temperature is 120.2°F"

**Split**<br>
re.split: SPlit text based on Pattern.

In [111]:
pattern=r"\d+\.\s*"
text="Here is the list... 1.Soccer 2.Tennis 3.Basketball 4.\t\tcrocket"

In [112]:
split_text = re.split(pattern, text)
split_text

['Here is the list... ', 'Soccer ', 'Tennis ', 'Basketball ', 'crocket']

**Conditional** <br>
if then else <br>

( ?(n)yes_expression | no_expression ) <br>
( ?(name) yes_expression | no_expression ) <br>

example: if starting character is a digit, text needs to be 3 digits else text needs to be 4 letters. <br>

pattern: \d{3}|[a-z]{4} <br>
pattern: \b(\d{3}|[a-z]{4}) <br>

In [6]:
#Match Literal text
#
#Create a regular expression to exactly match this gloriously contrived sentence:

text=''' The punctuation characters in the ASCII table are: !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~."'''
pattern="(?i)ascii"

match = re.findall(pattern, text)

if  match:
    print("[+] matched. text:{}".format(text))

[+] matched. text: The punctuation characters in the ASCII table are: !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~."

In [13]:
#Match Nonprintable Characters
#
#Match a string of the following ASCII control characters: bell, escape, form feed, line feed, carriage return, horizontal tab, vertical tab.
#

text="These characters have the hexadecimal ASCII codes 07,1B,0C,0A,0D,09,0B"
pattern="\x07\x1B\x0C\x0A\x0D\x09\x0B"

match = re.findall(pattern, text)

if  match:
    print("[+] matched. text:{}".format(text))

In [14]:
#Match One of Many Characters

text="calendar"
pattern="c[ae]l[ae]nd[ae]r"

match = re.match(pattern, text)

if  match:
    print("[+] matched. text:{}".format(text))

[+] matched. text:calendar

In [17]:
#Match Any Character
#
#ANY CHARACTER EXCEPT LINE BREAKS
#

text=" this is text  "
pattern="."

match = re.match(pattern, text)

if  match:
    print("[+] matched. text:{}".format(text))

[+] matched. text: this is text

In [20]:
#
# Match Something at the Start and/or the End of a Line
#

In [24]:
#
#Match Whole Words
#

text="cat"
pattern="\bcat\b"

In [25]:
#Match One of Several Alternatives

pattern="Mary|Jane|Sue"

In [30]:
#
# Group and Capture Parts of the Match
#

text="Mary, Jane, or Sue"
pattern="\b(Mary|Jane|Sue)\b"

match = re.search(pattern, text)

In [35]:
#
# Capture and Name Parts of the Match

text="2018-11-21"
pattern="\b(?<year>\d\d\d\d)-(?<month>\d\d)-(?<day>\d\d)\b"

In [36]:
# Choose Minimal or Maximal Repetition

text='''
<p>
The very <em>first</em> task is to find the beginning of a paragraph.
</p>
<p>
Then you have to find the end of the paragraph
</p
'''
pattern="<p>.*?</p>"

In [39]:
# Add Comments to a Regular Expression

pattern='''
\d{4}    # Year
-        # Separator
\d{2}    # Month
-        # Separator
\d{2}    # Day
'''

pattern="?#Year)\d{4}(?#Separator)-(?#Month)\d{2}-(?#Day)\d{2}"

In [40]:
#Literal Regular Expressions in Source Code


pattern=r"""[$"'\n\d/\\]"""

In [41]:
# Create Regular Expression Objects
#You want to instantiate a regular expression object or otherwise compile a regular expression so you can use it efficiently throughout your application

reobj = re.compile("regex pattern")

In [42]:
#
# Test If a Match Can Be Found Within a Subject String
# search

In [43]:
# Test Whether a Regex Matches the Subject String Entirely
#match

In [44]:
# Retrieve the Matched Text
# search

In [48]:
#
# Determine the Position and Length of the Match

In [49]:
# Retrieve Part of the Matched Text
# search

In [50]:
# Retrieve a List of All Matches
# findall

In [51]:
# Iterate over All Matches
# finditer

In [53]:
#  Replace All Matches
# re.sub()

In [54]:
# Split a String
# re.split()

In [55]:
# Search Line by Line ( grep tool)
# lines = re.split("\r?\n", subject)

In [57]:
# Validate Email Addresses
pattern=r"^\S+@\S+$"

pattern="^[A-Z0-9+_.-]+@[A-Z0-9.-]+$"

In [58]:
# Validate International Phone Numbers
#  The numbers should start with a plus sign, followed by the country code and national number.

pattern=r"^\+[0-9]{1,3}\.[0-9]{4,14}(?:x.+)?$"

In [59]:
# Validate Traditional Date Formats
# 

pattern=r"^[0-3]?[0-9]/[0-3]?[0-9]/(?:[0-9]{2})?[0-9]{2}$"

In [60]:
# Limit the Length of Text

text="test whether a string is composed of between 1 and 10 letters from A to Z."

pattern="^[A-Z]{1,10}$"

In [61]:
#  Validate Affirmative Responses like yes , true, oaky and 1

pattern="^(?:1|t(?:rue)?|y(?:es)?|ok(?:ay)?)$"

In [62]:
# Words, Lines, and Special Characters
# Find a Specific Word
#

In [63]:
# Find Any of Multiple Words
pattern="\b(?:one|two|three)\b"

In [64]:
# Find Similar Words like bat, cat, or rat.

pattern="\b[bcr]at\b"

In [65]:
# Find All Except a Specific Word
#

pattern=r"\b(?!cat\b)\w+"

In [67]:
# Find Any Word Not Followed by a Specific Word
# You want to match any word that is not immediately followed by the word cat, ignoring any whitespace, punctuation, or other nonword characters that appear in be

pattern=r"\b\w+\b(?!\W+cat\b)" 
pattern=r"\b\w+\b(?=\W+cat\b)"

In [69]:
# Find Any Word Not Preceded by a Specific Word
# WORDS NOT PRECEDED BY “CAT”

pattern=r"(?<!\bcat\W+)\b\w+" 

pattern=r"(?:(?<=\Wcat\W)|(?<=^cat\W))\w+"

In [70]:
# Find Words Near Each Other
# Searching for “word1 NEAR word2” finds word1 and word2 in any order

pattern="\b(?:word1\W+(?:\w+\W+){0,5}?word2|word2\W+(?:\w+\W+){0,5}?word1)\b"

pattern="\b(?:word1|(word2))\W+(?:\w+\W+){0,5}?(?(1)word1|word2)\b"

In [71]:
# Find Repeated Words
pattern=r"\b([A-Z]+)\s+\1\b"

In [72]:
# Remove Duplicate Lines

pattern=r"^(.*)(?:(?:\r?\n|\r)\1)+$"

In [73]:
# Match Complete Lines That Contain a Word

pattern=r"^.*\berror\b.*$"

In [74]:
# Match Complete Lines That Do Not Contain a Word

pattern=r"^(?:(?!\berror\b).)*$"

In [75]:
# Trim Leading and Trailing Whitespace

pattern=r"\A\s+"

In [76]:
# Escape Regular Expression Metacharacters
# re.escape(str)

In [77]:
# Source Code and Log Files

Keywords<br>
Problem<br>
You are working with a file format for forms in a software application. The words “end,” “in,” “inline,” “inherited,” “item,” and “object” are reserved keywords in this format.[9] You want a regular expression that matches any of these keywords.

In [78]:
pattern=r"\b(?:end|in|inline|inherited|item|object)\b"
pattern=r"\b(?>end|in(?:line|herited)?|item|object)\b"

Identifiers<br>
Problem<br>
You need a regular expression that matches any identifier in your source code. Your programming language requires identifiers to start with an underscore or an ASCII letter. The following characters can be underscores or ASCII letters or digits. Identifiers can be between 1 and 32 characters long.

In [79]:
pattern=r"\b[a-z_][0-9a-z_]{0,31}\b"

Numeric Constants<br>
Problem<br>
You need a regular expression that matches a decimal integer without a leading zero, an octal integer with a leading zero, a hexadecimal integer prefixed with 0x, or a binary integer prefixed with 0b. The integer may have the suffix L to denote it is a long rather than an int.

In [81]:
pattern='''
\b(?:(?<dec>[1-9][0-9]*)
   | (?<oct>0[0-7]*)
   | 0x(?<hex>[0-9A-F]+)
   | 0b(?<bin>[01]+)
  )(?<L>L)?\b
'''

pattern='''
\b(?:(?P<dec>[1-9][0-9]*)
   | (?P<oct>0[0-7]*)
   | 0x(?P<hex>[0-9A-F]+)
   | 0b(?P<bin>[01]+)
  )(?P<L>L)?\b
'''

Operators<br>
Problem<br>
You are developing a syntax coloring scheme for your favorite text editor. You need a regular expression that matches any of the characters that can be used as operators in the programming language for which you’re creating the scheme: -, +, *, /, =, <, >, %, &, ^, |, !, ~, and ?. The regex doesn’t need to check whether the combination of characters forms a valid operator. That is not a job for a syntax coloring scheme; instead, it should simply highlight all operator characters as such.

In [82]:
pattern=r"[-+*/=<>%&^|!~?]"

Single-Line Comments<br>
Problem<br>
You want to match a comment that starts with // and runs until the end of the line.

In [83]:
pattern="//.*"

Multiline Comments<br>
Problem<br>
You want to match a comment that starts with /* and ends with */. Nested comments are not permitted. Any /* between /* and */ is simply part of the comment. Comments can span across lines.

In [84]:
pattern=r"/\*.*?\*/"

Common Log Format<br>
Problem<br>
You need a regular expression that matches each line in the log files produced by a web server that uses the Common Log Format.For example:<br>

127.0.0.1 - jg [27/Apr/2012:11:27:36 +0700] "GET /regexcookbook.html HTTP/1.1" 200 2326

In [87]:
pattern=r'''^(?<client>\S+)●\S+●(?<userid>\S+)●\[(?<datetime>[^\]]+)\]↵
●"(?<method>[A-Z]+)●(?<request>[^●"]+)?●HTTP/[0-9.]+"↵
●(?<status>[0-9]{3})●(?<size>[0-9]+|-)'''

In [88]:
pattern=r'''^(?P<client>\S+)●\S+●(?P<userid>\S+)●\[(?P<datetime>[^\]]+)\]↵
●"(?P<method>[A-Z]+)●(?P<request>[^●"]+)?●HTTP/[0-9.]+"↵
●(?P<status>[0-9]{3})●(?P<size>[0-9]+|-)'''

In [89]:
pattern=r'''^(\S+)●\S+●(\S+)●\[([^\]]+)\]●"([A-Z]+)●([^●"]+)?●HTTP/[0-9.]+"↵
●([0-9]{3})●([0-9]+|-)●"([^"]*)"●"([^"]*)" '''

Combined Log Format<br>
Problem<br>
You need a regular expression that matches each line in the log files produced by a web server that uses the Combined Log Format.For example:<br>

127.0.0.1 - jg [27/Apr/2012:11:27:36 +0700] "GET /regexcookbook.html HTTP/1.1" 200 2326 "http://www.regexcookbook.com/" "Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; Trident/5.0)"

In [90]:
pattern=r''' ^(?<client>\S+)●\S+●(?<userid>\S+)●\[(?<datetime>[^\]]+)\]↵
●"(?<method>[A-Z]+)●(?<request>[^●"]+)?●HTTP/[0-9.]+"↵
●(?<status>[0-9]{3})●(?<size>[0-9]+|-)●"(?<referrer>[^"]*)"↵
●"(?<useragent>[^"]*)" '''

In [91]:
pattern=r''' ^(?P<client>\S+)●\S+●(?P<userid>\S+)●\[(?P<datetime>[^\]]+)\]↵
●"(?P<method>[A-Z]+)●(?P<request>[^●"]+)?●HTTP/[0-9.]+"↵
●(?P<status>[0-9]{3})●(?P<size>[0-9]+|-)●"(?P<referrer>[^"]*)"↵
●"(?P<useragent>[^"]*)" '''

In [92]:
pattern=r''' ^(\S+)●\S+●(\S+)●\[([^\]]+)\]●"([A-Z]+)●([^●"]+)?●HTTP/[0-9.]+"↵
●([0-9]{3})●([0-9]+|-)●"([^"]*)"●"([^"]*)"●"([^"]*)"●"([^"]*)" '''

Broken Links Reported in Web Logs<br>
Problem<br>
You have a log for your website in the Combined Log Format. You want to check the log for any errors caused by broken links on your own website.

In [93]:
pattern=r''' "(?:GET|POST)●(?<file>[^#?●"]+)(?:[#?][^●"]*)?●HTTP/[0-9.]+"●404●↵
(?:[0-9]+|-)●"(?<referrer>http://www\.yoursite\.com[^"]*)" '''

In [95]:
# Validating URLs

pattern=r''' ^(https?|ftp|file)://.+$ '''

pattern=r'''
\A                         # Anchor
(https?|ftp)://            # Scheme
[a-z0-9-]+(\.[a-z0-9-]+)+  # Domain
([/?].*)?                  # Path and/or parameters
\Z                         # Anchor
'''

In [97]:
# Finding URLs Within Full Text

pattern=r''' \b(https?|ftp|file)://\S+ '''

pattern=r''' \b((https?|ftp|file)://|(www|ftp)\.)[-A-Z0-9+&@#/%?=~_|$!:,.;]*↵
[A-Z0-9+&@#/%=~_|$] '''

In [98]:
# Validating Domain Names

pattern=r"^([a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,}$"

#find the valid domain name
pattern=r"\b([a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,}\b"

In [99]:
# Matching IPv4 Addresses
pattern=r"^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$"

In [103]:
# Validate Windows Paths

pattern=r'''\A
[a-z]:\\                    # Drive
(?:[^\\/:*?"<>|\r\n]+\\)*   # Folder
[^\\/:*?"<>|\r\n]*          # File
\Z'''

pattern=''' ^[a-z]:\\(?:[^\\/:*?"<>|\r\n]+\\)*[^\\/:*?"<>|\r\n]*$"'''

In [106]:
pattern=r'''
\A
(?:[a-z]:|\\\\[a-z0-9_.$\●-]+\\[a-z0-9_.$\●-]+)\\  # Drive
(?:[^\\/:*?"<>|\r\n]+\\)*                           # Folder
[^\\/:*?"<>|\r\n]*                                  # File
\Z
'''

In [107]:
pattern=r'''
\A
(?:(?:[a-z]:|\\\\[a-z0-9_.$\●-]+\\[a-z0-9_.$\●-]+)\\|  # Drive
   \\?[^\\/:*?"<>|\r\n]+\\?)                           # Relative path
(?:[^\\/:*?"<>|\r\n]+\\)*                              # Folder
[^\\/:*?"<>|\r\n]*                                     # File
\Z
'''

In [109]:
# Extract the Folder from a Windows Path

pattern=r'''^([a-z]:|\\\\[a-z0-9_.$●-]+\\[a-z0-9_.$●-]+)?((?:\\|^)↵
(?:[^\\/:*?"<>|\r\n]+\\)+)'''

pattern=r'''^([a-z]:|\\\\[a-z0-9_.$●-]+\\[a-z0-9_.$●-]+)?↵
((?:\\?(?:[^\\/:*?"<>|\r\n]+\\)+)'''

In [111]:
# Extract the Filename from a Windows Path. c:\folder\file.ext.

pattern=r'''[^\\/:*?"<>|\r\n]+$'''

In [112]:
# Strip Invalid Characters from Filenames

pattern=r'''[\\/:"*?<>|]+'''